.post{
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
    padding-top: 20px;
    padding-left: 20px;
    
    
    width: 500px;
}
    


.post__body{
    flex: 1;
    padding: 0 10px;
}

.post__body > img{
    border-radius: 20px;
    width: 440px;
}

.post__footer{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.post__footerChat:hover{
    color: var(--twitter-color);
}

.post__footerRepeat:hover{
    color: rgb(11, 238, 11);
}


.post__footerFavorite:hover{
    color: rgb(248, 11, 11);
}


.post__footerPublish:hover{
    color: var(--twitter-color);
   
}

.post__badge{
    font-size: 14px !important;
    color: var(--twitter-color);
}

.post__headerSpecial{
    color: gray;
    font-size: 12px;
    font-weight: 600;
}

.post__headerText > h3{
    font-size: 15px;
    margin-bottom: 5px;
}